<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sillycat.easyrestclientandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="17" />
    
    <uses-feature android:name="android.hardware.camera" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--  permission to read the contact -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.sillycat.easyrestclientandroid.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.sillycat.easyrestclientandroid.permission.C2D_MESSAGE" />
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Keeps the device on vibrating mode when a message is received. -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.sillycat.easyrestclientandroid.mainframe.MainApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.sillycat.easyrestclientandroid.mainframe.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sillycat.easyrestclientandroid.activity.impl.PersonListActivity" />
        <activity android:name="com.sillycat.easyrestclientandroid.activity.impl.GetOnePersonActivity" />
        <activity android:name="com.sillycat.easyrestclientandroid.activity.impl.DemoActivity" />
		<activity android:name="com.sillycat.easyrestclientandroid.activity.impl.PickupContactActivity" />
		<activity android:name="com.sillycat.easyrestclientandroid.activity.impl.PhotoCameraActivity" />
        
        <receiver
            android:name="com.sillycat.easyrestclientandroid.service.CustomerGCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.sillycat.easyrestclientandroid" />
            </intent-filter>
        </receiver>

        <service android:name="com.sillycat.easyrestclientandroid.service.CustomerGCMIntentService" />

        <activity
            android:name="com.sillycat.easyrestclientandroid.activity.impl.ProductsListActivity"
            android:label="@string/title_activity_products_list" >
        </activity>
    </application>

</manifest>