<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>easywebflow</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:main-context.xml</param-value>
	</context-param>

	<servlet>
		<servlet-name>easywebflow</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>fixationSessionServlet</servlet-name>
		<servlet-class>com.sillycat.easywebflow.servlet.FixationSessionServlet</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>fixationSessionServlet</servlet-name>
		<url-pattern>/servlet</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>sessionFixationProtoctionFilter</filter-name>
		<filter-class>com.sillycat.easywebflow.filter.SessionFixationProtectionFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>sessionFixationProtoctionFilter</filter-name>
		<url-pattern>/order/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>sessionFixationProtoctionFilter</filter-name>
		<url-pattern>/account.do</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>sessionFixationProtoctionFilter</filter-name>
		<url-pattern>/product/detail.do</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<url-pattern>/user.do</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<!-- Enables Spring Security -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<servlet-name>easywebflow</servlet-name>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>easywebflow</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
