
<h1>574 Locations found</h1>
<div id="actions">
	<form action="#" method="GET" > 
            <input type="text" id="searchbox" name="f" placeholder="Filter by location name...">
            <button type="submit" class="btn primary" id="searchsubmit">Filter by name</button>
	</form>
    <a class="btn success" id="add" href="#">Add a new location</a>
</div>
    
<table class="items table-striped">
	<thead>
    	<tr>
    		<th class="col2 header headerSortUp">
        		<a href="#">Computer name</a>
    		</th>
    		<th class="col3 header ">
        		<a href="#">Introduced</a>
    		</th>
    		<th class="col4 header ">
        		<a href="#">Discontinued</a>
    		</th>
		    <th class="col5 header ">
        		<a href="#">Company</a>
    		</th>
        </tr>
    </thead>
    
    <tbody>
		<tr>
        	<td><a href="#">ACE</a></td>
            <td><em>-</em></td>
            <td><em>-</em></td>
            <td><em>-</em></td>
        </tr>
        <tr>
        	<td><a href="#">Acorn Archimedes</a></td>
            <td><em>-</em></td>
            <td><em>-</em></td>
        	<td>Acorn computer</td>
        </tr>
        <tr>
        	<td><a href="#">Amiga</a></td>
            <td>01 Jan 1985</td>
            <td><em>-</em></td>
            <td>Amiga Corporation</td>
        </tr>
    </tbody>
</table>

<div id="pagination" class="pagination">
	<ul>
    	<li class="prev disabled">
        	<a>&larr; Previous</a>
        </li>
        <li class="current">
        	<a>Displaying 1 to 10 of 574</a>
        </li>
        <li class="next">
        	<a href="#">Next &rarr;</a>
        </li> 
    </ul>
</div>
