html {
    background: #eee;
}

header h1 {
    padding: 0.4em 0.8em;
    color: white;
    font-weight: normal;
    font-size: 20px;
}

section#main {
    position: relative;
    padding: 0.9em 0.9em;
    border-bottom: 1px solid #ccc;
    min-height: 600px;
} 

#content {
	position: static;
	height: 100%;
	padding: 0;
}